# Dependencies
node_modules/
.venv/
venv/
env/

# Build and Dist
dist/
build/
wheels/
*.egg-info/

# Cache and Temp
.cache/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.vite/

# Environment Variables
.env
.env.local

# IDEs
.vscode/
.idea/
.DS_Store

# Logs
*.log
